/* Common CSS */
body {
  font-size: 13px;
  /* font-family: 'Gilroy'; */
  font-weight: 400;
  /* overflow : 내용이 박스보다 길 때 어떻게 보이게 할 지 선택하는 속성
  overflow-x 의 hidden : 가로의 내용이 더 길 때 스크롤이 생긴다.*/
  overflow-x: hidden;
  color: #000;
  /* text-rendering : 자간 */
  text-rendering: optimizeLegibility;
}

ul {
  padding: 0;
  margin: 0;
}

.title h6 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.56px;
  margin: 0;
  margin-bottom: 17px;
}

.title h2 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1.12px;
  margin: 0;
}

p {
  color: rgba(102, 102, 102, .8);
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1.8px;
}


/* Scroll To Top */


/*======== Navigation CSS ========*/
#justtify-block {
  display: flex;
  justify-content: space-between;
}

.desk-nav {
  background: #b36464;
  height: 80px;
  line-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* z-index : 창의 배치 순서
    숫자가 높을수록 가장 상단에 배치 */
  z-index: 9998;
}

/* inline-block : 여러 개의 요소들을 한 줄에 배치 */
.nex-menu,
.desk-nav ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
}

.nex-menu {
  display: inline-block;
}

.desk-nav ul.navbar-menu li {
  display: inline-block;
  margin: 0 10px;
}

.desk-nav ul.navbar-menu li a {
  /* display: inline-block; */
  /* text 밑 줄 없애기 */
  text-decoration: none;
  /* cursor: pointer; */
}

.desk-nav a#brand {
  text-transform: uppercase;
  float: left;
  font-weight: 800;
  font-size: 20px;
}

.desk-nav button {
  /* background: none;
  width: 30px;
  margin-top: 20px;
  border: none;
  float: right;
  display: inline-block;
  cursor: pointer;
  display: none; */
}

/* inline-block : 여러 개의 요소들을 한 줄에 원하는 너비만큼 배치 */
/* 이 요소를 적용하자 로고와 네비 메뉴들이 한 줄에 배치되었다. */
#brand {
  display: inline-block;
}

/*======== Navigation Area ========*/

#brand img {
  display: inline-block;
  vertical-align: middle;
}

#brand span {
  margin-left: -25px;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 72px;
}

.navbar-menu li a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

.contact-menu a {
  text-align: center;
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.96px;
  width: 170px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  background: #e49cba
}

/*======== Home Area ========*/
html,
body {
  height: 100%;
}

.home-area {
  overflow-x: hidden;
  position: relative;
  min-height: 900px;
  height: 100%;
  padding-top: 80px;
  background-size: cover;
  background-position: bottom right;
  background: #3a68a2;
}

.astronauts {
  position: absolute;
  bottom: 50px;
  right: 0px;
  width: 650px;
  /* animation: ease-in-out infinite alternate; */
}

.fold-planet {
  /* position: absolute;
  bottom: 25vh;
  right: 0px;
  width: 650px; */
}

.fold-astronaut1 {
  /* position: absolute;
  bottom: 50px;
  width: 20vw;
  left: 0px;
  animation: ease-in-out infinite alternate; */
}

.home h1 {
  margin-top: 190px;
  color: #ffffff;
  font-size: 58px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 1.35px;
}

.home p {
  max-width: 460px;
  margin-top: 50px;
  color: rgba(255, 255, 255, .8);
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1.8px;
  margin-bottom: 40px;
}

.home a {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.96px;
  display: inline-block;
  width: 160px;
  height: 60px;
  line-height: 60px;
  background-size: 100% 100%;
}

/*======== Specialises Area ========*/

.specialises-area {
  /* padding: 100px 0 70px 0; */
}

.specialises-imgs {
  overflow: hidden;
  width: 600px;
  height: 400px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  /* top: 50%; */
  position: relative;
}

.specialises-imgs img {
  margin-left: 0px;
  /* max-width: none; */
  transform: translateX(0px);
  transition: all 1s ease-in-out;
}

.specialises-imgs.room1 img {
  transform: translateX(-5%);
}

.specialises-imgs.room2 img {
  transform: translateX(-33%);
}

.specialises-imgs.room3 img {
  transform: translateX(-70%);
}

.specialises-tab {
  padding-left: 25px;
}

.specialises-tab h2 {
  color: #666666;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1.12px;
  margin-bottom: 35px;
  margin-top: 50px;
}

.tab-header .nav-tabs {
  /* border-bottom: 0; */
}

.tab-header .nav-item {
  padding-right: 60px;
}

/* last-child : 같은 부모요소 안의 자식 태그들 중 가장 마지막 */
.tab-header .nav-item:last-child {
  padding-right: 0;
}

.nav-tabs .nav-link {
  padding: 0;
}

.tab-header .nav-item a {
  border-bottom: 1px solid transparent;
  transition-property: .3s;
  /* color: rgba(102, 102, 102, .5);
  font-size: 18px;
  font-weight: 600; */
}

.tab-header .nav-item:hover .nav-link,
.tab-header .nav-item .nav-link.active {
  border-bottom: 2px solid #E79EBD;
  color: #666666;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: 0;
  outline: none;
}

/* Tab Content */
.tab-content {
  margin-top: 25px;
}

.tab-content p {
  max-width: 460px;
  color: rgba(102, 102, 102, .8);
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1.8px;
  margin-bottom: 0;
}

/*======== We Do Area ========*/
.what-we-do-area {
  padding-top: 295px;
  padding-bottom: 120px;
  /* background-image: url("../img/shape-1.svg"); */
  /* contain : 배경을 사용하는 요소를 크게 벗어나지 않는 최대 크기로 이미지를 확대 또는 축소(가로 세로 비율 유지)*/
  background-size: contain;
}

.we-do-area {
  padding-bottom: 150px;
  max-width: 1000px;
  /* margin: auto : content 를 제외하고 사용할 수 있는 여백(margin)을 모두 사용 */
  margin-left: auto;
  margin-right: auto;
  /* clear : 사진 주위로 글자가 붙지 않게 하기 위함*/
  /* both : 오른쪽 왼쪽의 float 값을 취소하도록 함 */
  clear: both;
}

/* position: relative : 자기를 기준으로 배치 */
.we-do-img {
  position: relative;
}

/* position: absolute : 부모(조상) 요소를 기준점으로 배치 */
/* position 으로부터 top 에서 얼만큼 떨어질 지 결정 */
.we-do-img .second-img {
  position: absolute;
  top: 30px;
  background-color: transparent;
  left: 50%;
  margin-left: -147PX;
}

.we-do-img.exploration-img .second-img {
  margin-left: -200px;
  top: 60px;
}

.we-do-area {
  height: 1%;
}

.we-do-left {
  float: left;
  width: 515px;
  display: inline-block;
  vertical-align: middle;
}

.we-do-right {
  float: right;
  width: calc(100% - 515px);
  display: inline-block;
  vertical-align: middle;
}

.we-do-left.pull-right {
  float: right;
}

.pdl100 {
  padding-left: 105px;
}

.we-do-title {
  padding-bottom: 120px;
}

.we-do-title h6 {
  color: #666666;
}

.we-do-title h2 {
  color: #666666;
}

.we-do-text {
  max-width: 350px;
  padding-top: 88px;
}

.we-do-text h2 {
  color: #666666;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.84px;
  margin: 0;
  margin-bottom: 50px;
}

.we-do-text p {
  color: rgba(102, 102, 102, .8);
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

/*======== Team Area ========*/
.team-area {
  position: relative;
  padding-top: 260px;
  padding-bottom: 250px;
}

.team-area .container {
  position: relative;
  z-index: 100;
}

.team-background-2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translateY(50%);
  animation: 15s ease-in-out infinite alternate;
}

.team-title {
  margin-bottom: 80px;
}

.team-title h6,
.team-title h2 {
  color: #ffffff;
}

.team-link {
  margin-top: 100px;
}

.team-link a {
  display: inline-block;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.96px;
  width: 200px;
  height: 60px;
  line-height: 60px;
  background-size: 100% 100%;
  margin-bottom: 20px;
}

.single-team {
  padding-left: 25px;
  padding-right: 25px;
}

.single-team h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.84px;
  margin: 30px 0;
}

.single-team p {
  text-align: justify;
  color: rgba(255, 255, 255, .8);
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1.8px;
  margin-bottom: 0;
}

.skills {
  margin-bottom: 30px;
}

/*======== Opportunity Area ========*/
.opportunity-area {
  padding-top: 107px;
  padding-bottom: 228px;
}

.opportunity-title {
  margin-bottom: 100px;
}

.opportunity-title h2,
.opportunity-title h6 {
  color: #666666;
}

.opportunity-button {
  position: relative;
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  color: white;
  background-color: #E79EBD;
  margin-left: auto;
  margin-right: auto;
  border-radius: 35px;
  cursor: pointer;
  margin-top: 30px;
}
/* Tooltip text */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  /* visibility: hidden; */
  width: 120px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

/* opacity : 불투명도 */
.tooltip {
  opacity: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.our_services-right .service-top,
.our_services-left .service-top {
  padding: 15px 15px 0 15px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.our_services-right,
.our_services-left {
  border-radius: 20px;
  width: 400px;
  background-color: #335c9b;
}

.our_services-right {
  float: right;
}

.our_services-left {
  float: left;
}

.service-bottom {
  padding-top: 45px;
  padding-bottom: 30px;
  text-align: center;
  background-image: -webkit-linear-gradient(120deg, #2c478f 0%, #3f84b2 100%);
  background-image: -o-linear-gradient(120deg, #2c478f 0%, #3f84b2 100%);
  background-image: -webkit-linear-gradient(240deg, #2c478f 0%, #3f84b2 100%);
  background-image: -o-linear-gradient(240deg, #2c478f 0%, #3f84b2 100%);
  background-image: linear-gradient(210deg, #2c478f 0%, #3f84b2 100%);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.service-bottom h3 {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.84px;
}

.service-bottom h3 span {
  position: absolute;
  top: -20px;
  right: -40px;
}

.service-bottom p {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-bottom: 0;
  max-width: 270px;
  color: rgba(255, 255, 255, .8);
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1.8px;
}

/*======== Contact Area ========*/
.contact-area {
  position: relative;
  padding-top: 360px;
  padding-bottom: 180px;
  overflow-x: hidden;
}

.contact-cont {
  margin-top: 10VH;
  z-index: 10;
}

.ISS {
  position: absolute;
  top: 20VH;
  width: 30VW;
  right: 0px;
  z-index: 9;
  -webkit-animation: ISS 10s ease-in-out;
  animation: ISS 10s ease-in-out infinite alternate;
}

.contact h2 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1.12px;
  margin-bottom: 70px;
}

.contact h2 i {
  border-bottom: 3px #E79EBD solid;
}

.contact h2 span {
  color: #E79EBD;
}

/* .contact input {
} */

.contact button {
  cursor: pointer;
  border: 0;
  padding: 0;
  width: 170px;
  height: 60px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.96px;
  line-height: 60px;
  background-size: 100% 100%;
  display: inline-block;
}

/*======== Footer Area ========*/
/* float: right 요소를 오른쪽으로 띄운다. */
.footer-text {
  float: right;
}

.footer-text-title h3 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.42;
  margin: 0;
  margin-bottom: 20px;
}

.footer-list ul {
  /* list-style: none; */
}

.footer-list ul li {
  list-style: none;
  margin-bottom: 15px;
}

.footer-list ul li a {
  height: 10px;
  color: rgba(255,255,255,.6);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.33;
}

.footer-bottom {
  margin-top: 120px;
}

.footer-bottom-left p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.14px;
}

.footer-bottom-right {
  float: right;
}

.footer-bottom-right a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.14px;
  padding: 0 30;
}

.footer-area option {
  /* color: #666666; */
}

.none{
  display: none;
}